:root {
  --primary-color: #00599c;
  --secondary-color: #0099cc;
  --accent-color: #ff6600;
  --color-text-dark: #333333;
  --color-text-light: #ffffff;
  --background-main: #f8f8f8;
  --color-background-white: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-main);
  color: var(--color-text-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
